<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unistudiac">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Module"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateDetails"></activity>
        <activity android:name=".New" />
        <activity android:name=".GPACalculation" />
        <activity android:name=".ABC" />
        <activity android:name=".FinalMark" />
        <activity android:name=".ModuleAdapter" />
        <activity android:name=".AddDetails" />
        <activity android:name=".AddDetailsHome" />
        <activity android:name=".AddModulesHome" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CustomAdapter" />
        <activity
            android:name=".AddModules"
            android:label="Add Modules"
            android:parentActivityName=".AddModulesHome" />
        <activity
            android:name=".MainActivity"
            android:label="Module">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>