<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madminiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".showResults3"
            android:label="Calculated Prorata Fees"
            android:parentActivityName=".proratafee3">
        </activity>
        <activity android:name=".proratafee3"
                  android:label="Calculate Prorata Fees">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".proratafee2"
                  android:label="Calculate Repeat Fees">
        </activity>
        <activity android:name=".shoeResult2"
            android:label="Calculated Repeat Fees"
            android:parentActivityName=".proratafee2"/>
        <activity
            android:name=".viewBookList"
            android:label="Your Books">
        </activity>
        <activity
            android:name=".deletebook"
            android:label="Delete Book"
            android:parentActivityName=".viewbook" />
        <activity
            android:name=".updatebook"
            android:label="Edit Book"
            android:parentActivityName=".viewbook" />
        <activity
            android:name=".viewbook"
            android:label="Your Books"
            android:parentActivityName=".viewBookList" />
        <activity
            android:name=".addbook"
            android:label="Add Book"
            android:parentActivityName=".viewBookList" />
    </application>

</manifest>