<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madminiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".deletebook"></activity>
        <activity android:name=".updatebook" />
        <activity android:name=".viewbook" />
        <activity android:name=".addbook" />
        <activity android:name=".notices" />
        <activity android:name=".proratafee" />
        <activity android:name=".repeatfee" />
        <activity android:name=".semesterfee" />
        <activity android:name=".Calcfine" />
        <activity android:name=".EditBooks" />
        <activity android:name=".BookDetails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>